body{
    margin: 0 auto;
    padding: 0;
    background: linear-gradient(90deg, #98221E 0%, #641E51 49.85%, #501E71 100%);
    font-family: 'poppins', sans-serif;
    display: flex;
    place-content: center;
    flex-direction: column;
    align-items: center;
}

.img_logo{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 450px;
}

.img_iniciales{
    width: 130px;
}

table{
    margin-bottom: 50px;
    border: 2px solid #000000; width: 50%;
    font-size: 18px;
}

thead>tr{
    background:#ffffff10;
    color: white
}

tbody>tr{
    background:#ffffff10;
    color: white;
}